.pass-set-container {
  display: flex;
  margin-top: 6%;
  justify-content: center;
}

.rp-form {
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 2px;
  height: 300px;
  width: 310px;
}

.text-size {
  font-size: 14px;
  margin: 15px;
}

.break-line {
  margin-top: 17px;
}

.head {
  display: flex;
  justify-content: space-between;
}

p {
  font-size: 25px;
  margin: 15px;
}

.icon {
  font-size: 20px;
  margin: 10px;
}

.data {
  margin: 15px;
  border: 1px solid black;
  height: 40px;
  border: none;
  box-shadow: 10px;
}

input {
  font-size: 15px;
  height: 40px;
  width: 70%;
  border: none;
  outline: none !important;
}

.inp {
  border: 1px solid gray;
  border-radius: 10px;
  margin: 5px;
}

.opt {
  display: flex;
  justify-content: space-between;
}

label {
  font-size: 15px;
}

a {
  text-decoration: none;
  color: black;
}

#rem {
  margin: 10px;
  height: 15px;
  width: 15px;
}

#forget {
  margin: 10px;
}

#log {
  border: none;
  border-radius: 7px;
  color: white;
  background-color: black;
  width: 90%;
  margin: 10px;
}

.text {
  margin: 10px;
}