.pass-update-container {
    display: flex;
    margin-top: 6%;
    justify-content: center;
}
.pu-form {
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 2px;
    height: 340px;
    width: 320px;
}

.head {
    display: flex;
    justify-content: space-between;
}

p {
    font-size: 25px;
    margin: 15px;
}

.icon {
    font-size: 20px;
    margin: 10px;
}
input {
    font-size: 15px;
    height: 40px;
    width: 70%;
    border: none;
    outline: none !important;
}

.inp {
    border: 1px solid gray;
    border-radius: 10px;
    margin: 5px;
}
a {
    text-decoration: none;
    color: black;
}
#log {
    border: none;
    border-radius: 7px;
    color: white;
    background-color: black;
    width: 90%;
    margin: 10px;
}

#g-log {
    width: 100%;
    background-color: white;
}
.pass-update-text {
    margin: 10px;
   text-align: center;
}